/* Estilo general */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: linear-gradient(90deg, #6c757d, #adb5bd);
  color: white;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
  width: 50px;
  height: auto;
}

.main-container {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

nav.Menu2 {
  width: 250px;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(180deg, #6c757d, #adb5bd);
  border-radius: 8px;
  border: 2px solid #495057;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  display: block; /* Cambia a block por defecto */
}

nav.Menu2 h4 {
  font-weight: 600;
  color: white;
}

nav.Menu2 .nav-link {
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  transition: background-color 0.3s ease;
}

nav.Menu2 .nav-link:hover {
  background-color: #6c757d;
  text-decoration: none;
}

.container-fluid {
  flex-grow: 1;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Footer */
footer {
  background-color: #9098a0;
  padding: 1rem;
  text-align: center;
  position: relative;
  z-index: 1000;
}

/* Botón de menú */
.menu-button {
  position: fixed;
  top: 60px; /* Ajuste de la posición */
  left: 15px;
  z-index: 1001;
  display: none;
}

/* Estilos responsive */
@media (max-width: 992px) {
  .main-container {
    flex-direction: column;
  }

  nav.Menu2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .menu-button {
    display: block;
  }

  nav.Menu2 {
    position: absolute;
    left: -15px;
    transition: left 0.3s ease-in-out;
  }

  /* Eliminado el estilo de activación, ahora se maneja por display */
}

@media (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header h2 {
    font-size: 1.5rem;
  }

  nav.Menu2 {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }

  .container-fluid {
    margin: 10px;
    padding: 10px;
  }
}
